body {
    font-family: sans-serif;
}
}
.col-md-5 {
    margin left: 50px;
    padding: 35px 0px 40px 0px;
    max-width: 80%;
}
.col-md-7 {
    margin bottom: 15px;
    padding: 0px 15px 5px 15px;
}
.col-md-12 {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(256, 256, 256, 0.85);
    padding: 100px 100px 100px 100px;
    width: 90%;
    text-align: center;
}
.contacts {
    font-weight: bold;
    margin-top: 20px;
}
.giorgia-form {
    margin: 50px 50px 50px 50px;
    padding: 0px 50px 50px 100px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 30px;
}
h3 {
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
}
h4 {
    font-size: 23px;
    margin-top: 30px;
}
.jumbotron {
    background: url(./screenshot.png);
    background-size: cover;
    min-height: 650px;
    padding-top: 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 0px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #aaa;
}

.navbar-default .navbar-collapse {
    padding-top: 4px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.row { 
    float: center;
    margin top: 80px;
    margin bottom: 60px;
    max-width: 100%;
    padding: 0px 0px 0px 10px;
    position: center;
}
.row-text {
    text-align: center;    
    max-width: 50%;
    margin-top: 0px;
    padding top: 50px 0px 20px 0px;
    position: center;
}
@media (max-width: 650px) {
    .navbar-default .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;

    }
}
